---
title: クレジット
description: Misskeyに貢献してくださった方を掲載しています。
styleRequires: ["credit"]
---
-
  const collaborators = ["syuilo", "AyaMorisawa", "mei23", "acid-chicken", "rinsuki", "tamaina", "u1-liquid"]
  const bots = ["greenkeeper[bot]", "dependabot[bot]", "dependabot-bot", "imgbot[bot]"]
  const qqq = update.getTime().toString(36)

.bg-white.pt-3.pb-5
  .container-fluid
    h1.text-center.pt-4.pb-2 Crédits
    p.text-center.mb-4 Tous ceux et celles qui ont contribué à Misskey.

    h2#collaborators.text-center.pt-5.pb-2 共同制作者
    p.text-center.pb-2 Misskey開発陣
    #collaborators_list.d-flex.flex-wrap.justify-content-center.mb-5
      if(contributors)
        each contributor in contributors
          if(collaborators.some(e => e === contributor.login))
            a(href=contributor.html_url target="_blank" rel="noopener" title=contributor.login).person
              img(src=`/files/images/credit/github/${contributor.id}.png?${qqq}`)
              p=contributor.login
    h2#contributors.text-center.py-2 Contributeurs
    p.text-center.pb-2 Ceux et celles qui ont dévellopé le code de Misskey via #[a(href="https://github.com/syuilo/misskey" target="_blank" rel="noopener") GitHub]
    #contributors_list.d-flex.flex-wrap.justify-content-center
      if(contributors)
        each contributor in contributors
          if(!bots.some(e => e === contributor.login) && !collaborators.some(e => e === contributor.login))
            a(href=contributor.html_url target="_blank" rel="noopener" title=contributor.login).person
              img(src=`/files/images/credit/github/${contributor.id}.png?${qqq}`)
              p=contributor.login
      else
        +i18n('nobody')

    if(patrons || patrons.length != 0)
      .container.py-5
        hr.my-5.bg-primary
      h2#contributors.text-center.pb-2 Mécènes
      p.text-center.mb-4 Les donateurs qui continuent à nous soutenir via #[a(href="https://www.patreon.com/syuilo" target="_blank" rel="noopener") Patreon]
      #patrons_list
          each tier, lv in patrons
            if(tier.members.length > 0)
              div(id=`patrons_list_${patrons.length - 1 - lv}`).patrons-list-tier
                h3.text-center.pt-5.pb-2
                  =!!tier.titles ? (tier.titles[locale] || tier.titles.ja || tier.title) : tier.title
                  |  
                  span.small.font-weight-light (#{tier.amountCents > 0 ? `$${tier.amountCents / 100}/月, ` : ""}#{tier.members.length}人)
                div.patrons-list-members.d-flex.flex-wrap.justify-content-center
                  each patron in tier.members
                    a(href=patron.attributes.url target="_blank" rel="noopener" title=patron.attributes.full_name).person
                      img(src=`/files/images/credit/patreon/${patron.id}.png?${qqq}`)
                      p=patron.attributes.full_name
