---
title: クレジット
description: Misskeyに貢献してくださった方を掲載しています。
layout: root
---
.bg-white.py-3
  .container-fluid
    h1.text-center.pt-4.pb-2 クレジット
    p.text-center Misskeyに貢献してくださった方を掲載しています。(敬称略)

    h2#specialThanks_list.text-center.pt-4.pb-2 Special Thanks
    #specialThanks_list.d-flex.flex-wrap.justify-content-center
      a(href='https://misskey.xyz/@AureoleArk' target="_blank" rel="noopener" title="村上さん: misskey.xyzサーバーのホスティングなど").person
        img(src='/files/images/imports/2018/08/murakami-san.720c.jpeg')
        p 村上さん
    .container
      hr.my-5.bg-primary
    h2#contributors.text-center.pb-2 コントリビューター
    p.text-center #[a(href="https://github.com/syuilo/misskey" target="_blank" rel="noopener") GitHub]でMisskeyのコードを編集した人
    #contributors_list.d-flex.flex-wrap.justify-content-center
      if(contributors)
        each contributor in contributors
          if(contributor.login != 'greenkeeper[bot]' && contributor.login != 'tamaina')
            a(href=contributor.html_url target="_blank" rel="noopener" title=contributor.login).person
              img(src=`/files/images/credit/github/${contributor.id}.png`)
              p=contributor.login
      else
        +i18n('nobody')
    .container
      hr.my-5.bg-primary
    h2#contributors.text-center.pb-2 パトロン
    p.text-center #[a(href="https://www.patreon.com/syuilo" target="_blank" rel="noopener") Patreon]でパトロンとして継続的に寄付してくださっている方々
    #patrons_list
      if(patrons || patrons.length != 0)
        each tier in patrons
          div(id=`patrons_list_${tier.lv}`).patrons-list-tier
            h3.text-center.pt-4.pb-2=(!!tier.titles ? (tier.titles[locale] || tier.titles.ja || tier.title) : tier.title)
            div.patrons-list-members.d-flex.flex-wrap.justify-content-center
              each patron in tier.members
                a(href=patron.attributes.url target="_blank" rel="noopener" title=patron.attributes.full_name).person
                  img(src=`/files/images/credit/patreon/${patron.id}.png`)
                  p=patron.attributes.full_name
      else
        +i18n('nobody')
