---
title: クレジット
description: Misskeyに貢献してくださった方を掲載しています。
---
-
  const collaborators = ["syuilo", "AyaMorisawa", "mei23", "acid-chicken"]
  const bots = ["greenkeeper[bot]", "dependabot[bot]", "dependabot-bot"]
  const qqq = update.getTime().toString(36)

.bg-white.py-3
  .container-fluid
    h1.text-center.pt-4.pb-2 Crédits
    p.text-center Tous ceux et celles qui ont contribué à Misskey.

    h2#specialThanks_list.text-center.pt-4.pb-2 Remerciements particuliers à
    #specialThanks_list.d-flex.flex-wrap.justify-content-center
      a(href='https://misskey.io/@AureoleArk' target="_blank" rel="noopener" title="村上さん: pour l'hébergement du serveur misskey.xyz").person
        img(src='/files/images/imports/2018/08/murakami-san.720c.jpeg')
        p 村上さん
    .container
      hr.my-5.bg-primary
    h2#collaborators.text-center.pb-2 共同制作者
    p.text-center Misskey開発陣
    #collaborators_list.d-flex.flex-wrap.justify-content-center.mb-5
      if(contributors)
        each contributor in contributors
          if(collaborators.some(e => e === contributor.login))
            a(href=contributor.html_url target="_blank" rel="noopener" title=contributor.login).person
              img(src=`/files/images/credit/github/${contributor.id}.png?${qqq}`)
              p=contributor.login
    h2#contributors.text-center.pb-2 Contributeurs
    p.text-center Ceux et celles qui ont dévellopé le code de Misskey via #[a(href="https://github.com/syuilo/misskey" target="_blank" rel="noopener") GitHub]
    #contributors_list.d-flex.flex-wrap.justify-content-center
      if(contributors)
        each contributor in contributors
          if(!bots.some(e => e === contributor.login) && !collaborators.some(e => e === contributor.login))
            a(href=contributor.html_url target="_blank" rel="noopener" title=contributor.login).person
              img(src=`/files/images/credit/github/${contributor.id}.png?${qqq}`)
              p=contributor.login
      else
        +i18n('nobody')
    .container
      hr.my-5.bg-primary
    h2#contributors.text-center.pb-2 Mécènes
    p.text-center Les donateurs qui continuent à nous soutenir via #[a(href="https://www.patreon.com/syuilo" target="_blank" rel="noopener") Patreon]
    #patrons_list
      if(patrons || patrons.length != 0)
        each tier in patrons
          div(id=`patrons_list_${tier.lv}`).patrons-list-tier
            h3.text-center.pt-4.pb-2=(!!tier.titles ? (tier.titles[locale] || tier.titles.ja || tier.title) : tier.title)
            div.patrons-list-members.d-flex.flex-wrap.justify-content-center
              each patron in tier.members
                a(href=patron.attributes.url target="_blank" rel="noopener" title=patron.attributes.full_name).person
                  img(src=`/files/images/credit/patreon/${patron.id}.png?${qqq}`)
                  p=patron.attributes.full_name
      else
        +i18n('nobody')
