---
title: インスタンス一覧
description: Misskeyインスタンスの一覧です。自分の好みのインスタンスを探してみてください！
layout: wiki
has_child: false
rank: 2
---
h2.blogstyle インスタンスとは？
p.
  有志の方々がインターネットにMisskeyがインストールされたサーバーを公開しています。このサーバーをインスタンスと呼びます。<br>
  まずは、どこかのインスタンスに登録してMisskeyを始めてみてください。
p.
  Misskeyでは別のインスタンスのユーザーをフォローすることができます。このとき、インスタンスのURLはあなたのIDの一部になります。<br>
  さらに、ActivityPubという世界標準の規格を利用しているため、MisskeyだけでなくMastodonやPleromaなど他のソフトウェアのインスタンスのユーザーもフォローすることができます。
p ちなみに、インスタンスどうしが繋がっている世界はFediverseと呼ばれます。

h2.blogstyle このリストについて

p 更新は手動です。追加依頼は@aqz@misskey.xyzまたはプルリクエストにて受け付ています。
p 日本語が使われているインスタンスのみ掲載しています。ほかの言語のインスタンスを見たい場合、右上の言語選択で他国語版のページからご覧いただけます。
p: a(href="./suspended/") 終了などで除外されたインスタンスはこちら
p
  +fa_fw('lock')
  | : 招待制のインスタンス (登録にはインスタンス管理者の許可が必要です)

h2.blogstyle インスタンス一覧

#selected
  h3.blogstyle おすすめ
  each instance in instances[locale].selected
    a(href=`https://${instance.url}` target="_blank" rel="noopener").instance.list-group-item.list-group-item-action.flex-column.align-items-start
      h4.jm-h4.noindex
        if(instance.invitationOnly)
          +fa_fw('lock')
        !=instance.name ? `${instance.name}<span class="text-muted font-weight-normal"> - ${instance.url}</span>` : instance.url
      p.m-0=instance.description
#others
  h2.blogstyle 全て
  each instance in instances[locale].others
    a(href=`https://${instance.url}` target="_blank" rel="noopener").instance.list-group-item.list-group-item-action.flex-column.align-items-start
      h4.jm-h4.noindex
        if(instance.invitationOnly)
          +fa_fw('lock')
        !=instance.name ? `${instance.name}<span class="text-muted font-weight-normal"> - ${instance.url}</span>` : instance.url
      p.m-0=instance.description