---
title: 除外されたインスタンス一覧
description: 機能停止などの理由で除外されたインスタンスの一覧です。
layout: wiki
---
each instance in instances[locale].suspended
  a(href=`https://${instance.url}` target="_blank" rel="noopener").instance.list-group-item.list-group-item-action.flex-column.align-items-start
    h4.jm-h4.noindex!=instance.name ? `${instance.name}<span class="text-muted font-weight-normal"> - ${instance.url}</span>` : instance.url
    p.m-0=instance.description