-
  const blog_scheme = JSON.stringify({
    "@context": "http://schema.org",
    "@type": "BlogPosting" ,
    "mainEntityOfPage": {
      "@type": "WebPage" ,
      "@id": `${urlPrefix}${page.meta.permalink}`
    },
    "headline": page.attributes.title,
    "image": {
      "@type": "ImageObject" ,
      "url": `${urlPrefix}${thsrc}?v=${image_compressing_strategy_version}`,
      "height": thheight,
      "width": thwidth
    },
    "datePublished": page.meta.mtime,
    "dateModified": page.meta.mtime,
    "author": {
      "@type": "Person" ,
        "name": site.author
    },
    "publisher": {
      "@type": "Organization" ,
      "name": site.name,
      "logo": {
        "@type": "ImageObject" ,
        "url": `${urlPrefix}${site.publisher_image_path}?v=${image_compressing_strategy_version}`,
        "height": pheight,
        "width": pwidth
      }
    },
    "description": page.attributes.description,
    "inLanguage": locale
  })

script(type="application/ld+json")!=blog_scheme
