script#page_variables.
  var pathname = "/#{site.url.path}";
  var currentLocale = "#{locale}";
  var locales = !{JSON.stringify(site.locales)};
  var permalink = "#{page.meta.permalink.slice(locale.length + 1)}";
  var styleRequires = !{JSON.stringify(page.attributes.styleRequires)};
  !{site.ga ? `var gaId = "${site.ga};"` : ""}
  !{site.sw ? `var jm_pathToWorker = "${urlPrefix}/service_worker.js"` : ""}

block gtag
  if(site.ga)
    script(src=`https://www.googletagmanager.com/gtag/js?id=${site.ga}` async)

script(data-ad-client="ca-pub-1736621122676736" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js")

script(src=`${site.url.path}/assets/scripts/sw.js` async)
script(src=`${site.url.path}/assets/scripts/bootstrap.js` async)
script(src=`${site.url.path}/assets/scripts/main.js` async)
