//- script(src=`${site.url.path}/assets/jquery.slim.min.js` defer)
script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.slim.min.js" defer)
//- script(src=`${site.url.path}/assets/bootstrap.bundle.min.js` defer)
script(src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js" defer)
script(src=`${site.url.path}/assets/main.min.js` defer)
link(href=`${site.url.path}/assets/style.min.css` rel="stylesheet")
//- link(href=`${site.url.path}/assets/animate.min.css` rel="stylesheet")
link(href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css" rel="stylesheet")
link(href=`${site.url.path}/assets/fontawesome.min.css` rel="stylesheet")