if(site.sw)
  script.
    jm_pathToWorker = '#{urlPrefix}/service_worker.js'
script.
  var pathname = "/#{site.url.path}";
  var currentLocale = "#{locale}";
  var locales = !{JSON.stringify(site.locales)};
  var permalink = "#{page.meta.permalink.slice(locale.length + 1)}";

block gtag
  if(site.ga)
    script(src=`https://www.googletagmanager.com/gtag/js?id=${site.ga}` async)
    script.
      window.gaId = '#{site.ga}'
      window.dataLayer = window.dataLayer || []; function gtag(){dataLayer.push(arguments);} gtag('js', new Date()); gtag('config', '#{site.ga}', );

script(src=`${site.url.path}/assets/scripts/sw.js` async)
script(src=`${site.url.path}/assets/scripts/main.js` async)

script(data-ad-client="ca-pub-1736621122676736" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js")

link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/yakuhanjp@3.3.0/dist/css/yakuhanjp.min.css")
link(rel="stylesheet" href="https://cdn.jsdelivr.net/gh/tamaina/The-Japanese-Web-Fonts@v7.2.0/dist/NasuM/NasuM.css")
link(rel="stylesheet" href=`${site.url.path}/assets/styles/main.css`)
link(rel="stylesheet" href=`${site.url.path}/assets/styles/fonts.css`)
link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/animate.css@3.7.0/animate.min.css")
