if(site.sw)
  script.
    jm_pathToWorker = '#{urlPrefix}/service_worker.js'
script.
  var pathname = "/#{site.url.path}";
  var currentLocale = "#{locale}";
  var locales = !{JSON.stringify(site.locales)};
  var permalink = "#{page.meta.permalink.slice(locale.length + 1)}";

block gtag
  if(site.ga)
    script(src=`https://www.googletagmanager.com/gtag/js?id=${site.ga}` async)
    script.
      window.dataLayer = window.dataLayer || []; function gtag(){dataLayer.push(arguments);} gtag('js', new Date()); gtag('config', '#{site.ga}', );

//- script(src=`${site.url.path}/assets/jquery.slim.min.js` defer)
//- script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.slim.min.js" defer)
//- script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/popper.min.js" defer)
//- script(src=`${site.url.path}/assets/bootstrap.bundle.min.js` defer)
//- script(src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js" defer)
script(src=`${site.url.path}/assets/scripts/sw.js` async)
script(src=`${site.url.path}/assets/scripts/main.js` async)

link(href=`${site.url.path}/assets/styles/main.css` rel="stylesheet")
//- link(href=`${site.url.path}/assets/animate.min.css` rel="stylesheet")
link(href="https://cdn.jsdelivr.net/npm/animate.css@3.7.0/animate.min.css" rel="stylesheet")
