script(src=`${site.url.path}/assets/pjax-api.min.js`)
script.
  var Pjax = require('pjax-api').Pjax;
  new Pjax({  areas: ['#main, #breadcrumb', '#grid', 'body'], update: { head: 'meta, link' }  });

script.
  var current_baseurl = "/#{locale}/";
  var locales = #{site.locales};
  var permalink = "#{page.meta.permalink.slice(locale.length + 2)}"

  if (window.location.search.indexOf('moved') == -1){
    if (locales.indexOf(window.navigator.language.slice(0, 2)) >= 0){
      if(url != current_baseurl) Pjax.replace(url + permalink + "?moved", {});
    } else { Pjax.replace("/ja/" + permalink + "?moved", {}); }
  } else {
    history.replaceState(null, null, window.location.href.replace(/\?.*$/,""));
  }

if(site.disqus)
  script
    | (function() {var d = document, s = d.createElement('script');s.src = 'https://#{site.disqus}.disqus.com/embed.js';s.setAttribute('data-timestamp', +new Date());(d.head || d.body).appendChild(s);})();
