//-
  ナビゲーションバー

nav#mainnav.navbar.navbar-expand-md.navbar-light.flex-row.p-0
  if(!isAmp)
    button.navbar-toggler(data-toggle="collapse" data-target="#navtoggle" aria-controls="navtoggle" aria-expanded="false" aria-label="Toggle navigation")
      +fa("bars", "fas")
    .collapse.navbar-collapse#navtoggle
      ul.navbar-nav.mr-auto.mt-lg-0.ml-3.ml-md-0
        li.nav-item.px-md-3(class=( page.meta.permalink == `/${locale || 'ja'}/` ? "active" : "" ))
          a.nav-link(href=`/${locale || 'ja'}/`)
            +fa_fw("home")
            span.d-inline.d-md-none.d-lg-inline
              | &ensp;
              +i18n("home")
        li.nav-item.px-md-3(class=( page.meta.permalink.indexOf(`/${locale || 'ja'}/blog/`) == 0 ? "active" : "" ))
          a.nav-link(href=`/${locale || 'ja'}/blog/`)
            +fa_fw("broadcast-tower")
            span.d-inline.d-md-none.d-lg-inline
              | &ensp;
              +i18n("blog")
        li.nav-item.px-md-3(class=( page.meta.permalink.indexOf(`/${locale || 'ja'}/wiki/`) == 0 ? "active" : "" ))
          a.nav-link(href=`/${locale || 'ja'}/wiki/`)
            +fa_fw("book")
            span.d-inline.d-md-none.d-lg-inline
              | &ensp;Wiki
      #search.input-group.flex-nowrap
        input#searchInput.form-control(type="search" placeholder=i18n("search_placeholder") aria-label=i18n("search"))
        .input-group-append.flex-grow-0.flex-shrink-0
          button#searchButton.btn.btn-primary #[+fa_fw("search")] #[+i18n("search")]
    .dropleft
      button.btn.btn-outline-primary.dropdown-toggle(type="button" id="locale_dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
        | A文
      .dropdown-menu.m-2(aria-labelledby="locale_dropdown")
        each lang in site.locales
          button.nihongo.dropdown-item(data-lang=lang)= site.i18n.nihongo[lang]
  if(isAmp)
    button.hamburger(on='tap:sidebar1.toggle')
      +fa("bars", "fas")

//-
  パンくずリスト

nav(aria-label="breadcrumb")#breadcrumb.bg-transparent
  .container-fulid.px-1.px-lg-5
    ol.breadcrumb.bg-transparent.text-primary.my-0.mx-md-5.mx-1.py-1.px-0
      if( dirs.length > 3 || (dirs.length === 3 && dirs[2] !== ""))
        li.breadcrumb-item
          a(href=`${site.url.path}/${locale ? locale : 'ja'}/`).py-1.text-primary
            +fa_fw("home","fas")
            span.sr-only
              +i18n('home')
        - let dirpl = `/${locale ? locale : 'ja'}/`
        - for( let i = 2; i < dirs.length - (dirs[dirs.length - 1] === "" ? 2 : 1); i++){                // i = 3 の場合
        -   let nowdir = dirs[i]                                    // "bar"
        -   dirpl = `${dirpl}${nowdir}/`                            // /foo/bar/
        -   let indexPage = pages.find(e => e.meta.permalink === dirpl)
        -   if( indexPage != undefined ){
        -     const title = (indexPage.attributes['title-breadcrumb'] || indexPage.attributes.title) || dirs[i] || "index"
        -     if (!!title) {
          li.breadcrumb-item
            a(href=`${site.url.path}${dirpl}`).py-1.text-primary #{title}
        -     } else {
          li.breadcrumb-item
            a(href=`${site.url.path}${dirpl}`).py-1.text-primary #{nowdir}
        -     }
        -   } else if( indexPage == undefined ){
          li.breadcrumb-item(aria-current="page").text-primary #{nowdir}
        -   }
        - }
        - const title = (page.attributes['title-breadcrumb'] || page.attributes.title) || dirs[dirs.length - 1] || "index"
          li.breadcrumb-item.active
            a(aria-current="page" href=`${urlPrefix}${page.meta.permalink}`).text-dark.font-weight-bold.trigger-gototop.button-like-anchor= title
      else
        li.breadcrumb-item.active
          a(aria-current="page" href=`${urlPrefix}${page.meta.permalink}`).text-primary.font-weight-bold.trigger-gototop.button-like-anchor
            +fa_fw("home","fas")
            span.sr-only
              +i18n('home')
