//-
  ãƒŠãƒ“ã‚²ãƒ¼ã‚·ãƒ§ãƒ³ãƒãƒ¼

nav#mainnav.navbar.navbar-light.flex-row.p-0.border-bottom
  //-
    button(class="navbar-toggler" type="button" data-toggle="collapse" aria-label="ã‚µã‚¤ãƒ‰ãƒãƒ¼ã‚’é–‹ã").bg-transparent.border-0.rounded-0.small.d-flex.d-lg-none.py-2.px-2.m-0.sidebar_opener
    div MENU
  a(href=`${site.url.path}/${locale}/`).navbar-brand#navbar_brand.m-0.p-0
    img(src=`${site.url.path}/files/images/title.light.svg` class="d-inline-block align-top img-fluid" alt=`${site.name}` title=`${site.name}` style="height: 48px")
  .dropleft
    button.btn.btn-primary.m-2.dropdown-toggle(type="button" id="locale_dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" disabled)
      | Aæ–‡
    .dropdown-menu.m-2(aria-labelledby="locale_dropdown")
      a.dropdown-item(href=`/ja/?moved`) ðŸ‡¯ðŸ‡µ æ—¥æœ¬èªž
//-
  ãƒ‘ãƒ³ããšãƒªã‚¹ãƒˆ

  nav(aria-label="breadcrumb")#breadcrumb.bg-transparent.sticky-top
  .container-fulid.px-1.px-lg-5
    ol.breadcrumb.bg-transparent.text-light.my-0.mx-md-5.mx-1.py-1.px-0
      - let dirs = page.meta.permalink.split("/")                 // ["","foo","bar","hoge",""] (ãŸã¨ãˆã°)
      if( dirs.length > 2 )
        li.breadcrumb-item
          a(href=`${site.url.path}/`).py-1.text-light
            +fa_fw("home","fas")
        - let dirpl = "/"
        - for( let i = 1; i < dirs.length - 1; i++){                // i = 3 ã®å ´åˆ
        -   let nowdir = dirs[i]                                    // "bar"
        -   dirpl = `${dirpl}${nowdir}/`                            // /foo/bar/
        -   let indexPage = pages.find(e => e.meta.permalink === dirpl)
        -   if( indexPage != undefined && i < dirs.length - 2 ){
        -     if (!!indexPage.attributes.title) {  // // // // // // // // ãƒšãƒ¼ã‚¸ãŒã‚ã£ãŸã‚‰
              li.breadcrumb-item
                a(href=`${site.url.path}${dirpl}`).py-1.text-light #{indexPage.attributes.title}
        -     } else {
          li.breadcrumb-item
            a(href=`${site.url.path}${dirpl}`).py-1.text-light #{nowdir}
        -     }
        -   } else if( indexPage == undefined && i < dirs.length - 2 ){ // ãƒšãƒ¼ã‚¸ãŒãªã‹ã£ãŸã‚‰
          li.breadcrumb-item(aria-current="page").text-light #{nowdir}
        -   } else if( i == dirs.length - 2 ){  // // // // // // // // // è©²å½“ãƒšãƒ¼ã‚¸ã«åˆ°ç€ã—ãŸã‚‰
        -     if (!!page.attributes.title) {
          li.breadcrumb-item.active
            button(aria-current="page").text-white.font-weight-bold.trigger-gototop.button-like-anchor #{page.attributes.title}
        -     } else {
          li.breadcrumb-item.active
            button(aria-current="page").text-white.font-weight-bold.trigger-gototop.button-like-anchor #{nowdir}
        -     }
        -   }
        - }
      else
        li.breadcrumb-item.active
          button(aria-current="page").text-light.font-weight-bold.trigger-gototop.button-like-anchor
            +fa_fw("home","fas")