doctype
block _script
  include ../includes/_amp_script.pug
block _mixin
  include ../includes/_mixins.pug
block preset

html(lang=locale, amp)
  head
    block meta
      block must
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, minimum-scale=1, initial-scale=1")
      block title
        title #{page.attributes.title} - #{site.name}

      block thankyou_seeing_sourcecode
        //
          *
          *
          * GitHub: https://github.com/joinmisskey
          *
          *
      block canonical
        link(rel="canonical", href=url.href)
        link(rel="amphtml", href=`${url.href}amp.html`)

      block seo
        meta(name="author" content=site.author)
        meta(name="generator" content="maqz")

      block description
        -
          let description = page.attributes.description
          if( !$$(page.attributes.description).string().range(25, 124).ok()){
            description = page.attributes.description + site.description
          }
        meta(name="description", content=description)

      block icons
        link(rel="icon", href=`${site.url.path}/favicon.ico`, type="image/vnd.microsoft.icon")
        each icon in site.icons
          link(rel="apple-touch-icon", href=`${site.url.path}${icon.path}`, sizes=icon.sizes)
          link(rel="icon", href=`${site.url.path}${icon.path}`, sizes=icon.sizes, type=icon.type)

      block includes_head
        link(rel="manifest" href=`${site.url.path}/manifest.json`)

      block theme_color
        meta(name="theme-color", content=site.theme_color.primary)
        link(rel="alternate", href=site.rss_url, type="application/atom+xml", title=site.name)

      block og
        meta(property="og:type", content="website")
        meta(property="og:title", content=`${page.attributes.title} - ${site.name}`)
        meta(property="og:description", content=page.attributes.description)
        if ( !!page.meta.thumbnail )
          meta(property="og:image", content=`${urlPrefix}${page.meta.thumbnail.dir}/${page.meta.thumbnail.base}`)
        else if ( !!site.site_card_path )
          meta(property="og:image", content=`${urlPrefix}${site.site_card_path}`)
        else
          meta(property="og:image", content=`/favicon.ico`)
        meta(property="og:url", content=url.href)
        meta(property="og:site_name", content=site.name)

      block twitter_card
        if ( site.social_media.twitter.card )
          if ( !!page.meta.thumbnail )
            meta(name="twitter:card", content="summary_large_image")
            meta(name="twitter:image", content=`${urlPrefix}${page.meta.thumbnail.dir}/${page.meta.thumbnail.base}`)
          else if ( !!site.site_card_path )
            meta(name="twitter:card", content="summary_large_image")
            meta(name="twitter:image", content=`${urlPrefix}${site.site_card_path}`)
          else
            meta(name="twitter:card", content="summary")
          meta(name="twitter:title", content=`${page.attributes.title} - ${site.name}`)
          meta(name="twitter:description", content=page.attributes.description)
          meta(name="twitter:site", content=site.social_media.twitter.stalk)

      block amp-bp
        | <style amp-boilerplate>body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}</style><noscript><style amp-boilerplate>body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}</style></noscript>
        script(async, src="https://cdn.ampproject.org/v0.js")

      block amp-c
        if(site.social_media.share_button)
          script(async, custom-element="amp-social-share",    src="https://cdn.ampproject.org/v0/amp-social-share-0.1.js") 
        if(site.disqus)
          script(async, custom-element="amp-iframe",          src="https://cdn.ampproject.org/v0/amp-iframe-0.1.js")
        if(site.ga)
          script(async, custom-element="amp-analytics"        src="https://cdn.ampproject.org/v0/amp-analytics-0.1.js")

      block style
        include ../includes/_amp_style.pug

  body

    block wo_footer
      block nav
        include ../includes/_amp_nav.pug
      block main
        #main
          != main_html

    block footer
      if( site.disqus )
        .container.py-5
          amp-iframe(width="600" height="140" layout="responsive" sandbox="allow-scripts allow-same-origin allow-modals allow-popups allow-forms" resizable
            src=`https://tmin.cf/amp.html?shortname=${site.disqus}&url=${encodeURIComponent(`${site.url.scheme}://${site.url.host}${site.url.path}${page.meta.permalink}`)}&identifier=${encodeURIComponent(`${site.url.host}${site.url.path}${page.meta.permalink}`)}`)
            div(overflow tabindex="0" role="button" aria-label="maqz")

      #footer_wrap.py-3.bg-light
        footer.container
          p Copyright: #{site.author}
          p.m-0 This site built with maqz and published as AMP

    block gtag
      if(site.ga)
        amp-analytics(type="googleanalytics")
          script(type="application/json")
            .
              {
                "vars": {
                  "account": "#{site.ga}"
                },
                "triggers": {
                  "default pageview": {
                    "on": "visible",
                    "request": "pageview",
                    "vars": {
                      "title": "#{page.attributes.title}"
                    }
                  }
                }
              }
