doctype
block _script
  include ../includes/_amp_script.pug
block _mixin
  include ../includes/_mixins.pug
block preset

html(lang=locale, amp)
  head
    block meta
      block must
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, minimum-scale=1, initial-scale=1")
      block title
        title #{page.attributes.title} - #{site.names[locale] || site.name}

      block thankyou_seeing_sourcecode
        //
          *
          *
          * GitHub: https://github.com/joinmisskey
          *
          *
      block canonical
        link(rel="canonical", href=page.meta.url.href)
        link(rel="amphtml", href=`${page.meta.url.href}amp.html`)

      block seo
        meta(name="author" content=site.author)
        meta(name="generator" content="maqz")

      block description
        meta(name="description", content=page.meta.description)

      block icons
        link(rel="icon", href=`${site.url.path}/favicon.ico`, type="image/vnd.microsoft.icon")
        each icon in site.icons
          link(rel="apple-touch-icon", href=`${site.url.path}${icon.path}`, sizes=icon.sizes)
          link(rel="icon", href=`${site.url.path}${icon.path}`, sizes=icon.sizes, type=icon.type)

      block includes_head
        link(rel="manifest" href=`${site.url.path}/manifest.json`)
        link(rel="alternate" type="application/rss+xml" title=`${site.name} RSS` href=`${urlPrefix}/feed.rdf`)

      block theme_color
        meta(name="theme-color", content=site.theme_color.primary)

      block og
        meta(property="og:type", content="website")
        meta(property="og:title", content=`${page.attributes.title} - ${site.names[locale] || site.name}`)
        meta(property="og:description", content=page.attributes.description)
        if ( !!page.meta.thumbnail )
          meta(property="og:image", content=`${urlPrefix}${page.meta.thumbnail.dir}/${page.meta.thumbnail.base}`)
        else if ( !!site.site_card_path )
          meta(property="og:image", content=`${urlPrefix}${site.site_card_path}`)
        else
          meta(property="og:image", content=`/favicon.ico`)
        meta(property="og:url", content=page.meta.url.href)
        meta(property="og:site_name", content=(site.names[locale] || site.name))

      block twitter_card
        if ( site.social_media.twitter.card )
          if ( !!page.meta.thumbnail )
            meta(name="twitter:card", content="summary_large_image")
            meta(name="twitter:image", content=`${urlPrefix}${page.meta.thumbnail.dir}/${page.meta.thumbnail.base}`)
          else if ( !!site.site_card_path )
            meta(name="twitter:card", content="summary_large_image")
            meta(name="twitter:image", content=`${urlPrefix}${site.site_card_path}`)
          else
            meta(name="twitter:card", content="summary")
          meta(name="twitter:title", content=`${page.attributes.title} - ${site.names[locale] || site.name}`)
          meta(name="twitter:description", content=page.attributes.description)
          meta(name="twitter:site", content=site.social_media.twitter.stalk)

      block amp-bp
        | <style amp-boilerplate>body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}</style><noscript><style amp-boilerplate>body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}</style></noscript>
        script(async, src="https://cdn.ampproject.org/v0.js")

      block amp-c
        if(site.social_media.share_button)
          script(async, custom-element="amp-social-share" src="https://cdn.ampproject.org/v0/amp-social-share-0.1.js") 
        if(site.disqus)
          script(async, custom-element="amp-iframe" src="https://cdn.ampproject.org/v0/amp-iframe-0.1.js")
        if(site.ga)
          script(async, custom-element="amp-analytics" src="https://cdn.ampproject.org/v0/amp-analytics-0.1.js")
        
        script(async, custom-element="amp-sidebar" src="https://cdn.ampproject.org/v0/amp-sidebar-0.1.js")

      block style
        style(amp-custom)!=ampcss

  body

    amp-sidebar(id="sidebar1" layout="nodisplay" side="left")
      ul.py-5.list-unstyled.bg-white.h-100
        li: a(href=`/${locale}/`).d-block.py-2.px-4
          +fa_fw("home")
          |  
          +i18n("home")
        li: a(href=`/${locale}/blog/`).d-block.py-2.px-4
          +fa_fw("broadcast-tower")
          |  
          +i18n("blog")
        li: a(href=`/${locale}/wiki/`).d-block.py-2.px-4
          +fa_fw("book")
          |  Wiki
        li: a(href="https://assets.msky.cafe/" target="_blank" rel="noopener").d-block.py-2.px-4
          +fa_fw("store-alt")
          |  Assets Store

    block wo_footer
      block nav
        #nav
          include ../includes/_nav.pug
      block main
        #main
          != main_html

    block footer
      #footer.bg-white
        if( site.disqus )
          .container.py-5
            amp-iframe(width="600" height="140" layout="responsive" sandbox="allow-scripts allow-same-origin allow-modals allow-popups allow-forms" resizable
              src=`https://tmin.cf/amp.html?shortname=${site.disqus}&url=${encodeURIComponent(`${urlPrefix}${page.meta.permalink}`)}&identifier=${encodeURIComponent(`${site.url.host}${site.url.path}${page.meta.permalink}`)}`)
              div(overflow tabindex="0" role="button" aria-label="maqz")

        #footer_wrap.py-3
          .container
            .d-flex.justify-content-between.flex-wrap.small
              div © 2018 #{site.author}

              .text-muted
                +i18n('update%0', [updateMoment.format('lll')])

              div
                a(href="https://github.com/syuilo/misskey" target="_blank" rel="noopener")
                  +fa_fw('github', 'fab')
                  span.sr-only GitHub
                  | Misskey
                | 
                a(href="https://github.com/joinmisskey/joinmisskey.github.io" target="_blank" rel="noopener")
                  +fa_fw('github', 'fab')
                  span.sr-only GitHub
                  | joinmisskey
                | 
                a(href="https://twitter.com/misskey_xyz" target="_blank" rel="noopener")
                  +fa_fw('twitter', 'fab')
                  span.sr-only Twitter
                | 
                a(href="/feed.rss" target="_blank" rel="noopener")
                  +fa_fw('rss')
                  span RSS
                | 
                a(href="/feed.json" target="_blank" rel="noopener")
                  +fa_fw('rss')
                  span JSON
                | 
                a(href="/feed.atom" target="_blank" rel="noopener")
                  +fa_fw('rss')
                  span Atom

    block gtag
      if(site.ga)
        amp-analytics(type="googleanalytics")
          script(type="application/json")
            .
              {
                "vars": {
                  "account": "#{site.ga}"
                },
                "triggers": {
                  "default pageview": {
                    "on": "visible",
                    "request": "pageview",
                    "vars": {
                      "title": "#{page.attributes.title}"
                    }
                  }
                }
              }
