doctype
block before_script
block _script
  include ../includes/_script.pug
block _mixin
  include ../includes/_mixins.pug
block preset

html(lang=locale)
  head
    block meta
      block must
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, minimum-scale=1, initial-scale=1")
      block title
        title #{page.attributes.title} - #{site.names[locale] || site.name}

      block thankyou_seeing_sourcecode
        //
          *
          *
          * GitHub: https://github.com/joinmisskey
          *
          *
      block canonical
        link(rel="canonical", href=page.meta.url.href)
        if(page.attributes.amp)
          link(rel="amphtml", href=`${page.meta.url.href}amp.html`)
      block seo
        meta(name="author" content=site.author)
        meta(name="generator" content="maqz")
        if(page.attributes.noindex)
          meta(name="robots" content="noindex,follow")

      block description
        -
          let description = page.attributes.description
          if( !$$(page.attributes.description).string().range(25, 124).ok()){
            description = page.attributes.description + (site.descriptions[locale] || site.description)
          }
        meta(name="description", content=description)

      block includes_head
        link(rel="manifest" href=`${site.url.path}/manifest.json`)
        link(rel="alternate" type="application/rss+xml" title=`${site.name} RSS` href=`${urlPrefix}/feed.rdf`)
        include ../includes/_includes_head.pug

      block icons
        link(rel="icon", href=`${site.url.path}/favicon.ico`, type="image/vnd.microsoft.icon")
        each icon in site.icons
          link(rel="apple-touch-icon", href=`${site.url.path}${icon.path}`, sizes=icon.sizes)
          link(rel="icon", href=`${site.url.path}${icon.path}`, sizes=icon.sizes, type=icon.type)

      block theme_color
        meta(name="theme-color", content=site.theme_color.primary)

      block og
        meta(property="og:type", content="website")
        meta(property="og:title", content=`${page.attributes.title} - ${site.names[locale] || site.name}`)
        meta(property="og:description", content=page.attributes.description)
        if ( !!page.meta.thumbnail )
          meta(property="og:image", content=`${urlPrefix}${page.meta.thumbnail.dir}/${page.meta.thumbnail.base}`)
        else if ( !!site.site_card_path )
          meta(property="og:image", content=`${urlPrefix}${site.site_card_path}`)
        else
          meta(property="og:image", content=`/favicon.ico`)
        meta(property="og:url", content=page.meta.url.href)
        meta(property="og:site_name", content=(site.names[locale] || site.name))

      block twitter_card
        if ( site.social_media.twitter.card )
          if ( !!page.meta.thumbnail )
            meta(name="twitter:card", content="summary_large_image")
            meta(name="twitter:image", content=`${urlPrefix}${page.meta.thumbnail.dir}/${page.meta.thumbnail.base}`)
          else if ( !!site.site_card_path )
            meta(name="twitter:card", content="summary_large_image")
            meta(name="twitter:image", content=`${urlPrefix}${site.site_card_path}`)
          else
            meta(name="twitter:card", content="summary")
          meta(name="twitter:title", content=`${page.attributes.title} - ${site.names[locale] || site.name}`)
          meta(name="twitter:description", content=page.attributes.description)
          meta(name="twitter:site", content=site.social_media.twitter.stalk)

      block gtag
        if(site.ga)
          | <script async src="https://www.googletagmanager.com/gtag/js?id=#{site.ga}"></script>
          | <script>
          | window.dataLayer = window.dataLayer || [];function gtag(){dataLayer.push(arguments);}gtag('js', new Date());gtag('config', '#{site.ga}');
          | </script>

      block js_head

  body
    block wo_footer
      block nav
        #nav
          include ../includes/_nav.pug

      block main
        #main
          != main_html

    block footer
      #footer.bg-white
        if( site.disqus )
          .container-fluid.py-5
            #disqus_wrap
              #disqus_thread

        #footer_wrap.py-3
          .container
            .d-flex.justify-content-between.flex-wrap.small
              div © 2018 #{site.author}

              #updateTime.text-muted
                +i18n('update%0', [updateMoment.format('lll')])

              div
                a(href="https://github.com/syuilo/misskey" target="_blank" rel="noopener")
                  +fa_fw('github', 'fab')
                  span.sr-only GitHub 
                  | Misskey
                | 
                a(href="https://github.com/joinmisskey/joinmisskey.github.io" target="_blank" rel="noopener")
                  +fa_fw('github', 'fab')
                  span.sr-only GitHub 
                  | joinmisskey
                | 
                a(href="https://twitter.com/misskey_xyz" target="_blank" rel="noopener")
                  +fa_fw('twitter', 'fab')
                  span.sr-only Twitter
                | 
                a(href="/feed.rdf" target="_blank" rel="noopener")
                  +fa_fw('rss')
                  span.sr-only RSS
                | 
                a(href="javascript:void(0)").p7-subscribe
                  | ブラウザで購読

    block includes_foot
      include ../includes/_includes_foot.pug

    block js_foot