doctype
block before_script
block _script
  include ../includes/_script.pug
block _mixin
  include ../includes/_mixins.pug
block preset

html(lang=locale)
  head
    block meta
      block must
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, minimum-scale=1, initial-scale=1")
      block title
        title #{page.attributes['title-breadcrumb'] || page.attributes.title} - #{site.names[locale] || site.name}

      block thankyou_seeing_sourcecode
        //
          *
          *
          * GitHub: https://github.com/joinmisskey
          *
          *
      block canonical
        link(rel="canonical", href=page.meta.url.href)
        if(page.attributes.amp)
          link(rel="amphtml", href=`${page.meta.url.href}amp.html`)
        if(page.meta.locale)
          each locale in site.locales
            link(rel="alternate" hreflang=locale href=`${urlPrefix}/${locale}/${page.meta.dirs.slice(2).join("/")}`)
      block seo
        meta(name="author" content=site.author)
        meta(name="generator" content="maqz")
        if(page.attributes.noindex)
          meta(name="robots" content="noindex,follow")

      block description
        meta(name="description", content=page.attributes.description)

      block includes_head
        link(rel="manifest" href=`${site.url.path}/manifest.json`)
        link(rel="alternate" type="application/atom+xml" title=`${site.name}` href=`${urlPrefix}/feed.atom`)
        link(rel="alternate" type="application/rss+xml" title=`${site.name}` href=`${urlPrefix}/feed.rss`)
        link(rel="alternate" type="application/json" title=`${site.name}` href=`${urlPrefix}/feed.json`)
        include ../includes/_includes_head.pug

      block icons
        link(rel="icon", href=`${site.url.path}/favicon.ico`, type="image/vnd.microsoft.icon")
        each icon in site.icons
          link(rel="apple-touch-icon", href=`${site.url.path}${icon.path}`, sizes=icon.sizes)
          link(rel="icon", href=`${site.url.path}${icon.path}`, sizes=icon.sizes, type=icon.type)

      block theme_color
        meta(name="theme-color", content=site._theme_color)

      block og
        meta(property="og:type", content="website")
        meta(property="og:title", content=page.attributes.title)
        meta(property="og:description", content=page.attributes.description)
        if ( !!page.meta.thumbnail )
          meta(property="og:image", content=`${urlPrefix}${page.meta.thumbnail.dir}/${page.meta.thumbnail.base}`)
        else if ( !!site.site_card_path )
          meta(property="og:image", content=`${urlPrefix}${site.site_card_path}`)
        else
          meta(property="og:image", content=`/favicon.ico`)
        meta(property="og:url", content=page.meta.url.href)
        meta(property="og:site_name", content=(site.names[locale] || site.name))

      block twitter_card
        if ( site.social_media.twitter.card )
          if ( !!page.meta.thumbnail )
            meta(name="twitter:card", content="summary_large_image")
            meta(name="twitter:image", content=`${urlPrefix}${page.meta.thumbnail.dir}/${page.meta.thumbnail.base}`)
          else if ( !!site.site_card_path )
            meta(name="twitter:card", content="summary_large_image")
            meta(name="twitter:image", content=`${urlPrefix}${site.site_card_path}`)
          else
            meta(name="twitter:card", content="summary")
          meta(name="twitter:title", content=`${page.attributes.title} - ${site.names[locale] || site.name}`)
          meta(name="twitter:description", content=page.attributes.description)
          meta(name="twitter:site", content=site.social_media.twitter.stalk)

      block js_head

      block style
        style
          :clean-css:sass
            #ini
              position: fixed
              display: flex
              visibility: visible
              z-index: 101
              top: 0
              left: 0
              width: 100vw
              height: 100vh
              background: #fff
              cursor: wait

              & > #ini_inner
                margin: auto

                > svg
                  width: 64px
                  height: 64px
                  animation: ini-svg 0.6s infinite linear

              &.hide
                display: none
                animation: ini-hide 0.6s linear

              &.show
                animation: ini-show 0.6s linear

            @keyframes ini-svg
              from
                transform: rotate(0deg)
              to
                transform: rotate(360deg)

            @keyframes ini-show
              from
                opacity: 0
              to
                opacity: 1

            @keyframes ini-hide
              from
                opacity: 1
              to
                opacity: 0

  body
    div#ini.text-center
      #ini_inner
        svg(viewBox="0 0 50 50").mb-2.
          <path fill=#{site._theme_color} d="M25.251,6.461c-10.318,0-18.683,8.365-18.683,18.683h4.068c0-8.071,6.543-14.615,14.615-14.615V6.461z" />
        div
          if(page.meta.dirs.length == 2)
            a(href="/ja/") Skip

    block wo_footer
      block nav
        #nav
          include ../includes/_nav.pug

      block main
        #main
          != mainHtml

    block footer
      #footer.bg-white
        if( site.disqus )
          .container-fluid.py-5
            #disqus_wrap
              #disqus_thread

        #footer_wrap.py-3
          .container
            .d-flex.justify-content-between.flex-wrap.small
              div © 2018-2019 #{site.author}

              //
                 
                .

              #updateTime.text-muted
                +i18n('update%0', [updateMoment.tz('Asia/Tokyo').format('lll z')])

              //
                .
                 

              div
                a(href="https://github.com/syuilo/misskey" target="_blank" rel="noopener")
                  +fa_fw('github', 'fab')
                  span.sr-only GitHub
                  | Misskey
                | 
                a(href="https://github.com/joinmisskey/joinmisskey.github.io" target="_blank" rel="noopener")
                  +fa_fw('github', 'fab')
                  span.sr-only GitHub
                  | joinmisskey
                | 
                a(href="https://twitter.com/misskey_io" target="_blank" rel="noopener")
                  +fa_fw('twitter', 'fab')
                  span.sr-only Twitter
                | 
                a(href="/feed.rss" target="_blank" rel="noopener")
                  +fa_fw('rss')
                  span RSS
                | 
                a(href="/feed.json" target="_blank" rel="noopener")
                  +fa_fw('rss')
                  span JSON
                | 
                a(href="/feed.atom" target="_blank" rel="noopener")
                  +fa_fw('rss')
                  span Atom

    block includes_foot
      include ../includes/_includes_foot.pug

    block js_foot